In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('F:\\car_prices.csv')

In [9]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [10]:
df.dropna(subset=['make', 'model', 'sellingprice'], inplace=True)

In [11]:
df['condition'] = df['condition'].fillna('unknown')

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
text_cols = df.select_dtypes(include='object').columns
for col in text_cols:
    df[col] = df[col].str.lower().str.strip()

In [14]:
df['saledate'] = pd.to_datetime(df['saledate'], format='%m/%d/%Y', errors='coerce')
df['saledate'] = df['saledate'].dt.strftime('%d-%m-%Y')

In [15]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_' )

In [16]:
numeric_cols = ['year', 'odometer', 'mmr', 'sellingprice']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [17]:
df.to_csv("cleaned_car_prices.csv", index=False)